#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


button {
  background-color: transparent;
  color: white;
  border: 0;
  display: inline-block;
  width: 60px;
  margin: 20px;
  margin-top: 40px;
}